
div.tooltip {
    position: absolute;
    color:black;
    text-align: center;
    font-size:13px;
    width: 100px;
    border-radius: 5px;
    padding: 2px;
    background: white;
    border: 0px;
    pointer-events: none;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    }

    .link{
        fill:none;
        stroke:black
    }

    .nodes circle{
        fill:#d6d5d5;
    }
    .nodes text{
        stroke:none;
        fill:black;
        text-anchor:middle;
        font-size:10px;
    }

    .link.mention{
        stroke:#f47101;
    }


